SECRET_KEY=<your_secret>
SECRET_SALT_HASH=<your_secret_salt_hash>
DEBUG=1
MAIN_HOST=http://127.0.0.1:8000
HOST_ALLOWED0=0.0.0.0
HOST_ALLOWED1=127.0.0.1
HOST_ALLOWED2=127.0.0.1
DB_NAME_PRODUCTION=<your_db_name>
DB_USER_PRODUCTION=<your_db_user>
DB_PASSWORD_PRODUCTION=<your_db_pass>
DB_HOST_PRODUCTION=<your_db_host>
DB_PORT_PRODUCTION=<your_db_port>
EMAIL_BACKEND=<your_email_backend>
DEFAULT_FROM_EMAIL=<your=default_from_email>
EMAIL_HOST=<your_email_host>
EMAIL_HOST_USER=<your_email_host_user>
EMAIL_HOST_PASSWORD=<your_email_host_password>