{% extends "base.html" %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-full">
          <h1 class="title is-1">403 O.o</h1>
          <p class="is-size-4">Oops! You do not have permission to access this content.</p>
          <p class="is-size-6">Consult the owner of this page for more information.</p>
          <p class="is-size-6"><a href="javascript:history.back(1);">Return to previous page.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}