<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Daptnod</title>
	<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
	<!-- Bulma Version 0.9.0-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
	<!-- START NAV -->
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
        <a class="navbar-item" href="/">
          DAPTNOD
				</a>
				<span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
				</span>
      </div>
      {% if request.user.is_authenticated %}
      <div id="navbarMenu" class="navbar-menu">
				<div class="navbar-end">
          <a href="{% url 'notes:my_notes' %}" class="navbar-item">
            <strong>My notes</strong>            
          </a>
					<div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ request.user.username }}</a>
            <div class="navbar-dropdown">
              <a href="{% url 'accounts:settings' %}" class="navbar-item">Settings</a>
              <hr class="navbar-divider">
              <a href="{% url 'accounts:logout' %}" class="navbar-item">Logout</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-end">
          <div class="navbar-item">
            <a href="{% url 'accounts:signup' %}" class="button is-primary">
              <strong>Sign up</strong>
            </a>
          </div>
					<div class="navbar-item has-dropdown is-hoverable {% if login_error %} is-active {% endif %}">
            <a class="navbar-link">Login</a>
						<div class="navbar-dropdown is-right">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <form class="form-signin" action="{% url 'accounts:login' %}" method="post">{% csrf_token %}
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input {% if login_error %} is-danger {% endif %}" type="text" name="username" required placeholder="Username or email">
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </p>
                    {% if login_error %}
                    <p class="help is-danger">This username/email is invalid</p>
                    {% endif %}
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input {% if login_error %} is-danger {% endif %}" type="password" name="password" required placeholder="Password">
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </p>
                    {% if login_error %}
                    <p class="help is-danger">This password is invalid</p>
                    {% endif %}
                  </div>
                  <div class="field">
                    <p class="control">
                      <button class="button is-success is-fullwidth">
                        <span class="icon">
                          <i class="fa fa-sign-in"></i>
                        </span>
                        <span>Sign in</span>
                      </button> 
                    </p>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
      {% endif %}		
		</div>
	</nav>
  <!-- END NAV -->

  {% for message in messages %}
  <div class="notification is-{{ message.tags }} has-text-centered">
    <button class="delete"></button>
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>

<style>
  .input{
    min-width:200px;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    var $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>