<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Daptnod</title>
	<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
	<!-- Bulma Version 0.9.0-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
	<!-- START NAV -->
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
        <a class="navbar-item" href="../">
          Daptnod
				</a>
				<span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
				</span>
      </div>
      {% if request.user.is_authenticated %}
      <div id="navbarMenu" class="navbar-menu">
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ request.user.username }}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item">Settings</a>
              <hr class="navbar-divider">
              <div class="navbar-item">Logout</div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
          </div>
					<div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Login</a>
						<div class="navbar-dropdown is-right">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="email" placeholder="Username or email">
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password">
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <button class="button is-success is-fullwidth">
                        <span class="icon">
                          <i class="fa fa-sign-in"></i>
                        </span>
                        <span>Sign in</span>
                      </button> 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
      {% endif %}		
		</div>
	</nav>
  <!-- END NAV -->
  {% block content %}{% endblock %}
</body>

</html>

<style>
  .input{
    min-width:200px;
  }
</style>