{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-full">
          <h1 class="title is-1">DAPTNOD</h1>
          <button class="button is-large is-fullwidth is-primary">Create a quick note!</button>
          <p class="is-size-4">Create quick notes without login. Share with your friends. Create an account and save your notes.</p>
          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}